/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* general css */

.body{
    background-color: rgb(241,189,126);
}
.div{
    text-align: center;
    margin-top: 5rem;
    width: 40%;
    margin: 0 auto;
    padding: 2rem;
    background-color:rgb(149,160,222);
    border: 2px solid red;
}
h2{
    font-size: 1.6rem;
    font-weight: 600;
    margin: .6rem;
    color: white;
    font-size: 2rem;
}
.input{
    font-size: 1.5rem;
    width: 70%;
    border: 2px solid coral;
    padding: .3rem;
    text-transform: capitalize;

}
.data-div{
   
margin: 0 auto;
    width: 28%;
}
.data{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: .4rem 1rem;
    margin: .3rem 0;
}
p{
    font-size: 1.8rem;
    font-weight: 500;
}
.movie-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    
}
li{
    font-size: 1.6rem;
    margin: .5rem 0;
    padding-bottom: .3rem;
    display: flex;
    justify-content: space-around;
    border-bottom:3px dashed black ;
    width: 80%;
    margin: .5rem auto;
}
span{
    cursor: pointer;
    text-transform: capitalize;
    color: rgb(71, 224, 71);
    font-weight: 600;
}
.div1{
    margin: .3rem 0;

}
label{
text-transform: capitalize;
color: white;
font-weight: 800;
}